{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="page-header">
      <h1><small>about</small> Michael Julian</h1>
    </div>
    <p>
      I am a person

    </p>
    <p>
      I do things here and there
    </p>

    <p>
      contact me here:
    </p>
    <a class="btn btn-default" role="button" href="https://github.com/MichaelJulian">
      Github
    </a>
    <a class="btn btn-info" role="button" href="https://linkedin.com">
      LinkedIn
    </a>
    <a class="btn btn-primary" role="button" href="https://twitter.com/bayesedgod">
      Twitter
    </a>
  </div>
</div>

{% endblock %}
